/* Basic editor styles */
.tiptap {
    text-align: start;
}

.tiptap > div {
    outline: none !important;
}

.tiptap > * + * {
    margin-top: 1.5em;
}

@media (max-width: 956px) {
    .tiptap p {
        font-size: 18px !important;
    }
    .tiptap li {
        font-size: 18px !important;
    }
    .tiptap blockquote {
        font-size: 18px !important;
    }
}
.tiptap p {
    font-size: 16px;
}
.tiptap li {
    font-size: 21px;
}
.tiptap blockquote {
    font-size: 21px;
}
.tiptap ul, .tiptap ol {
    margin: 1rem 0;
    padding: 0 1rem;
}
.tiptap ul {
    list-style-type: disc;
}
.tiptap ol {
    list-style-type: decimal;
}
.tiptap a {
    text-decoration: underline;
    color: #0074de;
}
.tiptap h1 {
    font-size: 2.5em;
}
.tiptap h2 {
    font-size: 1.5rem;
}
.tiptap h1, .tiptap h2, .tiptap h3, .tiptap h4, .tiptap h5, .tiptap h6 {
    margin: 1rem 0;
    font-weight: bold;
    line-height: 1.1;
}
.tiptap code {
    background-color: rgba(97, 97, 97, 0.1);
    color: #616161;
}
.tiptap pre {
    margin: 1rem 0;
    background: #0d0d0d;
    color: #fff;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
}
.tiptap pre code {
    color: inherit;
    padding: 0;
    background: none;
    font-size: 0.8rem;
}
.tiptap img {
    max-width: 100%;
    height: auto;
}
.tiptap blockquote {
    margin: 1rem;
    padding-left: 1rem;
    border-left: 2px solid rgba(13, 13, 13, 0.1);
}
.tiptap hr {
    border: none;
    border-top: 2px solid rgba(13, 13, 13, 0.1);
    margin: 2rem 0;
}

.buttonMenu > div {
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    background-color: #0d0d0d;
    display: flex;
    width: 100%;
    padding: .25rem;
}

.buttonMenu > div > button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.75rem;
    padding: .25rem;
    font-size: inherit;
    font-family: inherit;
    margin: .1rem;
    border: 1px solid #fff;
    border-radius: 3rem;
    background: #fff;
}

.activeButton {
    background-color: #000 !important;
    color: #fff !important;
}

.placeholderClass:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}
